@model MyPal.Models.CollectionDataModel

@{
    ViewData["Title"] = "Create Public Event";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-primary pl-3">Add public event</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PublicEvents.Name" class="form-control">
                        <span asp-validation-for="PublicEvents.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PublicEvents.Description" class="form-control">
                        <span asp-validation-for="PublicEvents.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.StartTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PublicEvents.StartTime" class="form-control">
                        <span asp-validation-for="PublicEvents.StartTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.EndTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PublicEvents.EndTime" class="form-control">
                        <span asp-validation-for="PublicEvents.EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.Capacity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PublicEvents.Capacity" class="form-control">
                        <span asp-validation-for="PublicEvents.Capacity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PublicEvents.PinpointId">Choose a pinpoint:</label>
                    </div>
                    <div class="col-4">
                        <select required name="PublicEvents.PinpointId" asp-for="PublicEvents.PinpointId">
                            @foreach (var obj in Model.PinpointsList)
                            {
                                <option value="@obj.Id">@obj.Name</option>

                            }
                        </select>
                    </div>
                    <span asp-validation-for="PublicEvents.PinpointId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-primary w-100" value="Create" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            @*This is kept empty*@
        </div>
    </div>
</form>

