@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<p class="text-dark">
    Please check your <a href="https://mail.google.com/mail/">email</a> to reset your password.
</p>

